/* @font-face {
  font-family: "Lucida";
  src: url("/assets/fonts/Lucida\ Sans\ Italic.ttf") format("truetype"),
    url("/assets/fonts/Lucida\ Sans\ Italic.ttf") format("woff");
} */

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/myriad.otf");
  src: local("myriad"), local("myriad");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  src: url("../assets/fonts/Asap-Regular.ttf");
  src: local("Asap"), local("Asap");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1 {
  margin: 0;
  font-size: 19.29px;
  font-style: italic;
  font-family: "Lucida", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  display: flex;
}

.nav_links {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  background-color: #eec006;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQYV2P8coTtPwMOwAiS5LH5xYhNftBJAgBTqRrFuafdMQAAAABJRU5ErkJggg==);
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px #000;
  padding: 11px 16px 12px 18px;
  height: inherit;
  width: 186px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: #444444;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQYV2P08vL6z4ADMIIkt23bxohNftBJAgCNzBnlKndQegAAAABJRU5ErkJggg==);
}

.logo img {
  margin-right: auto;
  width: 35px;
  height: 35px;
}

.nav-item {
  text-transform: uppercase;
}

.nav-item a {
  padding: 24px 12px 22px;
  color: #b99403;
  font-weight: 600;
}

.nav-item img {
  vertical-align: bottom;
  margin-right: 0.3em;
}

.nav-item:not(:last-child) a {
  border-right: 1px solid #b99403;
}

#vidplayer {
  margin-top: -4px;
  margin-bottom: -7px;
}

#three-icons {
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-around;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJklEQVQYV2NkYGAwZmBgOMuABBihbBQJmCBIDi6BLAiXQBcESwAA8wcEOd8f360AAAAASUVORK5CYII=);
}

#three-icons div {
  display: flex;
  flex-direction: column;
}

#three-icons span {
  margin-top: 20px;
  text-align: center;
  font-size: 23.05px;
}

#three-icons span {
  display: block;
}

.slider__first {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.slider_text {
  color: white;
  font-family: "Myriad Pro";
  font-size: 28.7px;
  line-height: 1.3em;
  width: 300px;
  height: 232px;
  margin: 10px;
  background-color: #ec9e03;
  padding: 26px;
  padding-top: 22px;
  padding-bottom: 22px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.slider_text img {
  display: block;
  /* cursor: pointer; */
  margin-left: auto;
  margin-right: -12px;
}

.slider_video {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.slider_twit {
  background-color: #f5c507;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.slider_twit form {
  margin-top: 10px;
  margin-left: 10px;
  width: 275px;
  background-color: #d2900e;
  border: 1px solid #d2900e;
  border-radius: 17px;
}

.slider_twit form input {
  padding-left: 10px;
  border-radius: 17px 0 0 17px;
  width: 200px;
  height: 30px;
  border: none;
}

.slider_twit form button {
  margin-left: -3px;
  border-radius: 0 17px 17px 0;
  border: none;
  background-color: #d2900e;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  width: 70px;
  height: 30px;
}

#platforms {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: #444444;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQYV2P08vL6z4ADMIIkt23bxohNftBJAgCNzBnlKndQegAAAABJRU5ErkJggg==);
  padding: 50px 0;
}

#platforms div {
  position: relative;
  padding-top: 38px;
}

#platforms h2 {
  color: #f5c506;
  /* font-size: 44px; */
  font-size: 38px;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#platforms div img {
  display: block;
  margin: 0 auto;
}

#platforms div span {
  position: absolute;
  background: #f5c506;
  width: 115px;
  height: 115px;
  border-radius: 100px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  padding: 3.5em 0;
  top: 0;
  left: 24px;
}

footer {
  background-color: #4c4c4c;
  display: flex;
  align-items: center;
  box-shadow: 0px -4px 3px rgb(50, 50, 50);
}

footer img {
  margin-left: 64px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

footer span {
  color: white;
  text-shadow: 2px 2px #000;
  font-style: italic;
  font-family: "Lucida", Geneva, Verdana, sans-serif;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1300px) {
  .desktop {
    display: unset;
  }
  .mobile {
    display: none;
  }

  .nav_links {
    margin-top: 48px;
    box-shadow: -4px -5px 0px 0px rgba(173, 153, 44, 0.75),
      -8px -8px 0px 0px rgba(166, 142, 62, 0.55);
    max-width: 453px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 41px;
  }

  header {
    padding-top: 23px;
    box-shadow: inset 0px -4px 6px -1px rgba(0, 0, 0, 0.5);
    background: url(../assets/img/banner.jpg) no-repeat center top / cover;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;
  }

  .logo {
    background: none;
    padding: 0;
  }

  h1 {
    font-size: 41px;
    margin-top: 14px;
  }

  #ipsum {
    box-shadow: inset 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
    padding: 32px 0 115px;
    background: url(../assets/img/yellow-bg.jpg) no-repeat center top / cover;
  }

  .logo img {
    width: auto;
    height: auto;
  }

  #vidplayer {
    max-width: 1020px;
    margin: 0 auto;
    padding: 55px 10px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 57px;
    top: 300px;
    background-color: #c4a00b;
  }

  .arrow:hover,
  .arrow:active {
    background-color: #f5c506;
  }

  .offer__title {
    max-width: 419px;
    font-size: 63px;
    font-family: "Asap";
    text-align: center;
    letter-spacing: 0.01em;
    color: #f5c506;
    font-weight: normal;
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    line-height: 1.25em;
  }

  .offer__title span {
    color: #fff;
  }

  #three-icons {
    padding-top: 36px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .ipsum__title {
    display: block;
    max-width: 1020px;
    margin: 0 auto;
    font-family: "PT Sans";
    font-size: 37px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  #platforms div {
    display: flex;
    justify-content: space-evenly;
  }

  #platforms div img {
    margin: 0;
  }

  .nav-item a {
    padding-top: 14px;
    padding-bottom: 10px;
  }

  #platforms ul {
    list-style-type: none;
  }

  #platforms li {
    margin-bottom: 15px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    color: #a9a9a7;
    font-size: 22px;
    font-family: "Open Sans";
  }

  #platforms li p {
    max-width: 350px;
  }

  #platforms li:before {
    margin-right: 15px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f5c506;
    content: "";
  }

  #platforms div span {
    left: 112px;
  }

  .slider {
    display: flex;
    justify-content: space-evenly;
  }

  .slider__first {
    width: unset;
    position: relative;
  }
  .slider__second {
    min-width: 150px;
    background: #ec9e03;
    width: 330px;
    height: 232px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 0;
  }

  .slider__second:before {
    content: "22";
    color: #fff;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 100;
  }
  .plus {
    cursor: pointer;
  }

  .slider_twit .plus {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
  }

  .slider__data {
    background: #ddb101;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 88px;
    top: 242px;
    left: 10px;
  }

  .scroll {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    margin-bottom: -95px;
    cursor: pointer;
  }
}
